@font-face {
  font-family: Futur;
  src: url(./fonts/futur.ttf);
}

@font-face {
  font-family: Future-Bold;
  src: url(./fonts/Futura\Bold\font.ttf);
}

html,
body {
  font-family: Futur;
}
div.modal-overlay {
  background: transparent;
}
.carousel {
  height: 90vh;
}
.carousel.carousel-slider .carousel-item h2 {
  margin-top: 40%;
  margin-bottom: 35px;
  font-family: Future-Bold;
  font-size: 42px;
  background: -webkit-linear-gradient(
    left,
    rgb(224, 53, 53),
    rgb(71, 12, 211),
    rgb(124, 18, 211)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel.carousel-slider .carousel-item p {
  margin-bottom: 35px;
}

.carousel.carousel-slider .carousel-item a.btn {
  width: 100%;
  margin: 10px 0;
  text-transform: none;
  font-size: 12px;
  height: 50px;
  padding-top: 6px;
}

.carousel .indicators li.indicator-item {
  opacity: 0;
  width: 30%;
  height: 2px;
  background-image: linear-gradient(
    to left,
    rgb(224, 53, 53),
    rgb(71, 12, 211),
    rgb(124, 18, 211)
  );
}
.carousel .indicators li.indicator-item.active {
  opacity: 1;
  width: 30%;
  height: 2px;
  background-image: linear-gradient(
    to left,
    rgb(224, 53, 53),
    rgb(71, 12, 211),
    rgb(124, 18, 211)
  );
  border-radius: 0;
}
.carousel .carousel-fixed-item button.btn-flat {
  width: 70px;
  text-transform: none;
  top: 20px;
  border-radius: 0;
}
.carousel .carousel-fixed-item button.btn-flat:focus,
.carousel .carousel-fixed-item button.btn-flat:hover {
  background: transparent;
}
#modalArize {
  top: 50% !important;
  transform: translate(0, -50%) !important;
}
.pannel-buttons {
  width: 100%;
  position: absolute;
  bottom: 100px;
}
@media only screen and (max-width: 992px) {
  div.modal {
    width: 100%;
  }
}
